<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{ @ERROR['code'] . ' ' . @ERROR['status'] }}</title>
    </head>
    <body>
        <article>
            <header>{{ @ERROR['code'] . ' ' . @ERROR['status'] }}</header>
            <dl>
                <repeat group="{{ @ERROR }}" key="{{ @key }}" value="{{ @value }}">
                    <check if="{{ @key !== 'trace' }}">
                        <dt>{{ @key }}</dt>
                        <dd>{{ @value }}</dd>
                    </check>
                </repeat>
            </dl>
        </article>

        <check if="{{ @showLoginForm }}">
            <form action="/login" method="post">
                <input type="text" name="username" />
                <input type="password" name="password" />
            </form>
        </check>
    </body>
</html>