<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{ @ERROR['code'] . ' ' . @ERROR['status'] }}</title>
    </head>
    <body>
        <article>
            <header>{{ @ERROR['code'] . ' ' . @ERROR['status'] }}</header>
            <dl>
                <repeat group="{{ @ERROR }}" key="{{ @key }}" value="{{ @value }}">
                    <dt>{{ @key }}</dt>
                    <dd>{{ @value | raw }}</dd>
                </repeat>
            </dl>
        </article>

        <check if="{{ @showLoginForm }}">
            <form action="/login" method="post">
                <div class="input">
                    <label>Email</label>
                    <input type="email" name="email" />
                </div>
                <div class="input">
                    <label>Password</label>
                    <input type="password" name="password" />
                </div>
            </form>
        </check>

        <check if="{{ @showPageForm }}">
            <form action="/login" method="post">
                <div class="input">
                    <label>Email</label>
                    <input type="email" name="email" />
                </div>
                <div class="input">
                    <label>Password</label>
                    <input type="password" name="password" />
                </div>
            </form>
        </check>
    </body>
</html>